*.o
/comskip
/comskip.exe
/comskip-x86.exe
/comskip-x64.exe
/comskip-gui
/comskip-gui.exe
/comskip.depend
/comskip.ini
/bin/
/ffmpeg/
/votest
/votest.exe
/*.dSYM
/ccextratorwin/.dirstamp
/sandbox/
/argtable2-13/
# Autotools stuff
.deps
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.*
configure
depcomp
install-sh
missing
comskip.c.save-failed
